name: Terraform CI/CD

on:
  workflow_dispatch:
  pull_request:
    paths: ['**.tf', '**.tfvars']

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  OIDCAuthentication:
    runs-on: ubuntu-24.04
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::291759414346:role/GitHubActionsTerraformRole
          aws-region: eu-west-2
